<html>
<body>
List of Users

<ul> 
    <% for(var i=0; i<list.length; i++) { %>
      <li>
        <%=list[i].userName %><br />
        <%=list[i].email %><br />
      </li>
    <% } %>

</ul>

</body>
</html>
